.container {
    display: flex;
    flex-direction: column;
    background-color: var(--branco);
    justify-content: space-around;
    align-items: center;
    width: 15vw;
    height: 40vh;
    border-radius: 20px;
}

.general_container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url('../../assets/login-background.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: rgb(54, 54, 54);
}

.formulario {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    gap: 20px;
}

.formulario input {
    border: 1px solid var(--preto);
}

.campo {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 6px;
}

.botao {
    padding: 10px;
    border-radius: 8px;
    background-color: var(--preto);
    color: var(--branco);
    border: none;
    cursor: pointer;
}

.container_cadastro{
    text-align: center;
}

h1 {
    padding-top: 2rem;
}