@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root {
    --preto: #0D160B;
    --branco: #FBFFFE;
    --cinza: #8C8A93;
    --cinza-claro: #d3d3d3;
}